<footer>
    <div class="footer-content">
        <div class="footer-left">&copy; {{ site.time | date: '%Y' }} Leonardo Flores</div>
        <div class="footer-center"><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY 4.0</a> &mdash; <a href="{{ '/feed.xml' | relative_url }}">RSS Feed</a></div>
        <div class="footer-right">
            <div class="search-container">
                <input type="search" id="footerSearchInput" placeholder="Search posts..." aria-label="Search posts">
                <div id="searchResults" class="search-results hidden"></div>
            </div>
        </div>
    </div>
</footer>
