<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{{ site.description }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{{ site.description }}">
{% if page.featured_image %}<meta property="og:image" content="{{ page.featured_image | absolute_url }}">
{% else %}<meta property="og:image" content="{{ '/images/cyberleo2026.png' | absolute_url }}">
{% endif %}<meta property="og:site_name" content="{{ site.title }}">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ page.url | absolute_url }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{{ site.description }}">
{% if page.featured_image %}<meta name="twitter:image" content="{{ page.featured_image | absolute_url }}">
{% else %}<meta name="twitter:image" content="{{ '/images/cyberleo2026.png' | absolute_url }}">
{% endif %}
<link rel="alternate" type="application/rss+xml" title="{{ site.title }} Feed" href="{{ '/feed.xml' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
<link rel="icon" href="{{ '/images/cyberleo2026.png' | relative_url }}">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E8G8SJB7V6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E8G8SJB7V6');
</script>
